<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>HOME</title>
    </head>
    <body>

        <h2>Welcome!</h2>

        <li>Click here for <a th:href="@{/ca-en}">English</a> greeting.</li>
        <li>Click here for <a th:href="@{/ca-fr}">French</a> greeting.</li>

    <form th:action="@{/logout}" method="post">
        <div>  <button type="submit">Logout</button></div>
    </form>
    </body>
</html>