<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form th:action="@{/login}" method="post">
  <div>
    <label>Enter username : </label>
    <input type="text" name="username" placeholder="username">
  </div>
  <div>
    <label>Enter password : </label>
    <input type="password" name="password" placeholder="password">
  </div>
  <div>
    <button type="submit">Login</button>
  </div>

</form>
<div th:if="${param.error}">Username or password is wrong!</div>
<div th:if="${param.logout}">Succesfully logged out!</div>

</body>
</html>